<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span class="glyphicon glyphicon-filter"></span>
    Order by
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
    <li>
      <a href="#" ng-click="predicate = 'volumeInfo.title'; reverse=!reverse"
         >Book name 
         <span class="glyphicon "
               ng-show="predicate === 'volumeInfo.title'"
               ng-class="{'glyphicon-sort-by-attributes' : !reverse, 'glyphicon-sort-by-attributes-alt' : reverse}"></span>
      </a>
    </li>
    <li>
      <a href="#" ng-click="predicate = 'volumeInfo.averageRating'; reverse=!reverse"
         >Raiting 
       <span class="glyphicon "
               ng-show="predicate === 'volumeInfo.averageRating'"
               ng-class="{'glyphicon-sort-by-attributes' : !reverse, 'glyphicon-sort-by-attributes-alt' : reverse}"></span>
      </a>
    </li>
    <li role="separator" class="divider"></li>
    <li>
      <a href="#" ng-click="predicate = 'volumeInfo.pageCount'; reverse=!reverse"
      >Pages 
     <span class="glyphicon "
               ng-show="predicate === 'volumeInfo.pageCount'"
               ng-class="{'glyphicon-sort-by-attributes' : !reverse, 'glyphicon-sort-by-attributes-alt' : reverse}"></span>
      </a>
    </li>
  </ul>
</div>